{
    # Global options
    admin off
    storage file_system {
        root /data
    }

    # On-Demand TLS mit required ask endpoint
    on_demand_tls {
        ask http://localhost:5000/verify
    }
}

# Globaler Handler für alle eingehenden Anfragen
* {
    tls {
        on_demand
    }
    
    reverse_proxy {host}:80
}