services:
  caddy:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    cap_add:
      - NET_ADMIN
    volumes:
      - ./conf:/etc/caddy
      - caddy_data:/data
      - caddy_config:/config
      - ./verify.sh:/verify.sh:ro
    networks:
      - proxy
    environment:
      - EXPECTED_IP=138.199.208.16
    entrypoint: ["sh", "-c", "nc -l -p 5000 -e ./verify.sh & caddy run --config /etc/caddy/Caddyfile"]
    tty: true
    stdin_open: true

networks:
  proxy:
    name: caddy_proxy
    driver: bridge

volumes:
  caddy_data:
  caddy_config: