version: "3.8"

services:
  mysql:
    image: mysql:8.4 # LTS
    restart: unless-stopped
    environment:
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wordpress
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - internal

  init:
    image: wordpress:php8.3-apache #LTS
    restart: no
    depends_on:
      - mysql
    environment:
      - WORDPRESS_DB_HOST=mysql
      - WORDPRESS_DB_NAME=wordpress
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=${MYSQL_PASSWORD}
      - WORDPRESS_URL=https://${DOMAIN}
      - WORDPRESS_TITLE=FUBAR
      - WORDPRESS_ADMIN_USER=admin
      - WORDPRESS_ADMIN_PASSWORD=changeme
      - WORDPRESS_ADMIN_EMAIL=dev@digital-media-web.de
    volumes:
      - ./httpdocs:/var/www/html
    networks:
      - internal
    command: ["apache2-foreground & sleep 10 && true"]
    
  wordpress:
    build: .
    restart: unless-stopped
    depends_on:
      - mysql
      - init
    environment:
      - WORDPRESS_DB_HOST=mysql
      - WORDPRESS_DB_NAME=wordpress
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=${MYSQL_PASSWORD}
      - WORDPRESS_URL=https://${DOMAIN}
      - WORDPRESS_TITLE=FUBAR
      - WORDPRESS_ADMIN_USER=admin
      - WORDPRESS_ADMIN_PASSWORD=changeme
      - WORDPRESS_ADMIN_EMAIL=dev@digital-media-web.de
      - AI1WM=${AI1WM}
      - DOMAIN=${DOMAIN}
    env_file:
      - .env
    volumes:
      - ./httpdocs:/var/www/html
    networks:
      - caddy
      - internal
    tty: true
    stdin_open: true
    labels:
      caddy: ${DOMAIN}
      caddy.reverse_proxy: "{{upstreams 80}}"

  redirect:
    image: caddy:2-alpine
    restart: unless-stopped
    networks:
      - caddy
    labels:
      caddy: ${REDIRECT_DOMAIN}
      caddy.redir: "https://${DOMAIN}{uri}"

volumes:
  db_data:

networks:
  caddy:
    external: true
  internal:
    external: false