version: "3.8"

services:
  mysql:
    image: mysql:8.4 # LTS
    restart: unless-stopped
    environment:
      - MYSQL_DATABASE=wordpress
      - MYSQL_USER=wordpress
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
    volumes:
      - db_data:/var/lib/mysql
    networks:
      - internal
  init:
    image: wordpress:latest
    restart: never
    depends_on:
      - mysql
    environment:
      - WORDPRESS_DB_HOST=mysql
      - WORDPRESS_DB_NAME=wordpress
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=${MYSQL_PASSWORD}
      - WORDPRESS_URL=https://${DOMAIN}
      - WORDPRESS_TITLE=FUBAR
      - WORDPRESS_ADMIN_USER=admin
      - WORDPRESS_ADMIN_PASSWORD=changeme
      - WORDPRESS_ADMIN_EMAIL=dev@digital-media-web.de
    volumes:
      - ./httpdocs:/var/www/html
    networks:
      - internal
    command: >
      /bin/sh -c "./docker-entrypoint.sh && exit 0"

  wordpress:
    build: .
    restart: unless-stopped
    depends_on:
      - mysql
      - init
    environment:
      - WORDPRESS_DB_HOST=mysql
      - WORDPRESS_DB_NAME=wordpress
      - WORDPRESS_DB_USER=wordpress
      - WORDPRESS_DB_PASSWORD=${MYSQL_PASSWORD}
      - WORDPRESS_URL=https://${DOMAIN}
      - WORDPRESS_TITLE=FUBAR
      - WORDPRESS_ADMIN_USER=admin
      - WORDPRESS_ADMIN_PASSWORD=changeme
      - WORDPRESS_ADMIN_EMAIL=dev@digital-media-web.de
    volumes:
      - ./httpdocs:/var/www/html
      - ./init.sh:/usr/local/bin/init.sh
    networks:
      - caddy
      - internal
    tty: true
    stdin_open: true
    labels:
      caddy: ${DOMAIN}
      caddy.reverse_proxy: "{{upstreams 80}}"

volumes:
  db_data:

networks:
  caddy:
    external: true
  internal:
    external: false