{
    # Admin API deaktivieren für Sicherheit
    admin off
    
    debug

    # Storage für SSL Zertifikate
    storage file_system {
        root /data
    }

    # On-demand TLS für dynamische Domains
    on_demand_tls {
        ask http://verify:5000/verify
    }
}

# Einfach die Domain/Host-Definition ohne Port
{$DOMAIN:*} {
    reverse_proxy {$SERVICE_NAME:localhost}:{$PORT:80}
}
